org.contikios.cooja.GUI.MOTETYPES = + org.contikios.cooja.avrmote.MicaZMoteType org.contikios.cooja.avrmote.RFA1MoteType org.contikios.cooja.avrmote.RavenMoteType org.contikios.cooja.avrmote.ATTiny85MoteType
org.contikios.cooja.GUI.PLUGINS = + org.contikios.cooja.avrmote.NewAvrDebugger
org.contikios.cooja.GUI.JARFILES = + cooja_avrora.jar avrora.jar
